# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.uvoptx
*.uvprojx
uvguix..oh
*.uvguix.oh
*.html
*.lst
*.map
*.dep
*.htm
*.axf
*.lnp
*.dbgconf
*.sct
*.mbed
*.iex
*.scvd
*.asv
*.bak
